.nav li, footer li{
  float: left;
  display: inline-flex;
  list-style-type: none;
  text-decoration: none;
  padding-right: 20px;
  color: white;
}

.nav {
  background-color: #333;
  padding: 20px;
}

.footer{
  background-color: #333;
  padding: 20px;
}

.nav ul, footer ul, .site-title{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.site-title{
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.footerHeader{
  color: white;
}

.App {
  text-align: center;
  min-height: 95vh;
  background-color: lightgray;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app.container{
  margin-left: 450px;
  margin-top: 100px; 
  align-items: center;
}

.btn{
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 5px;

}

.currencyconverter{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: solid 1px;
}

.convertButton{
  padding-bottom: 50px;
}

.dropdown-menus{
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center; 
  display: inline-flex;
  flex-direction: row;

}

.from{
  align-items: center;
  padding-right: 50px;
}

.to{
  align-items: center;
  padding-left: 50px;
}

.swapButton{
  margin: 10px;
}

.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  max-width: 70%;
  max-height: 70%;
  padding-bottom: 70px;
}

@media screen and (max-width: 750px) {

  .dropdown-menus{
    flex-direction: column;
    text-align: justify;
  }

  .from{
    padding-right: 0px;
  }

  .to{
    padding-left: 0px;
  }

}

@media screen and (max-width: 390px) {

  .currencyconverter{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
  }

}